POSTGRES_HOST=localhost
POSTGRES_DB=openslin
POSTGRES_USER=openslin
POSTGRES_PASSWORD=openslin
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123456
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

API_PORT=3001
PLATFORM_LOCALE=zh-CN
NEXT_PUBLIC_API_BASE=http://localhost:3001
